{% extends 'my_app/base.html' %}
{% load static %}


{% block title %}
<title>ABOUT!</title>
{% endblock title %}





{% block content %}

<img src="{% static 'image/monipur2.jpg' %}" alt="No pic">

<h1>MONIPUR COLLEGE</h1>

<div class="monipur">
    <h2>Monipur High School & College (Bengali: মনিপুর উচ্চ বিদ্যালয় ও কলেজ) is a secondary school and college located in Mirpur, Dhaka, Bangladesh. The school is also known as Monipur Uccha Viddalaya Ebong College (MUBC).
        <br> Principal: Md. Farhad Hossain
        <br> Founder: Hazi Noor Mohammod
        <br> Established: 1969</h2>

</div>

{% endblock content %}